
.flex-item{
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 10px;
  max-width: 30%;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
}
.justify_space_between{
  justify-content: space-between;
}
.justify_center{
  justify-content: center;
}
.flex_grow_1{
  max-width: 25vw;
}
.flex_grow_2{
  max-width: 60%;
}
