@import '../../styles/variables.scss';

.services{
	text-align: center;
	margin: auto;
  height: 80%;
  width: 90%;
  max-width: 700px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__wrapper{
    align-self: center;
    margin: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  &__scroll{
    overflow-y: auto;
    min-height: 0px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
